html, body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  color: #282C34;
  background: #282C34;
  margin: 0;
  padding: 0;
}

#wrapper {
  min-width: 400px;
  min-height: 200px;
  margin: auto;
}

#buttons {
  position: fixed;
  top: 5px;
  left: 5px;
  height: 60px;
  z-index: 100;
}

#buttons > .menu-item {
  position: relative;
  top: -100%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  margin-left: 10px;
  margin-top: 5px;
  visibility: hidden;
  opacity: 0;
  transition: top 400ms cubic-bezier(0.21, 0.84, 0.54, 1.29), opacity 250ms, transform 250ms 100ms, visibility 400ms;
  transform: rotate(90deg);
  border: 1px solid black;
}

#buttons > .menu-item:first-child {
  width: 60px;
  height: 60px;
  font-size: 35px;
  visibility: visible;
  margin-left: 0;
  top: 0%;
  opacity: 1 !important;
  transform: none !important;
  cursor: pointer;
}

#buttons > .menu-item:last-child {
  display: none;
}

#buttons > .menu-item:last-child > i {
  padding: 8px;
}

#buttons.active > .menu-item {
  visibility: visible;
  opacity: 0.9;
  top: 0%;
  transform: rotate(0deg);
}

#buttons.active > .menu-item:first-child > i {
  padding: 12px 16px;
}

#buttons > .menu-item > i {
  padding: 8px 9px;
}

#buttons > .menu-item:first-child > i {
  padding: 13px 15px;
}

.menu-item a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.menu-item:hover {
  opacity: 1 !important;
  border: 1px solid #CCC !important;
}

#description-container {
  height: 100%;
  display: table;
  width: 100%;
  min-width: 400px;
  color: #EEE;
  text-align: center;
  background: #282C34 url(../images/background.png) no-repeat fixed;
  background-size: cover;
  font-family: monospace;
  font-size: 1.3rem;
}

#profile-picture {
  display: table-row;
  width: 100%;
}

#profile-picture > div {
  display: table-cell;
  vertical-align: bottom;
  padding-bottom: 55px;
}

#profile-picture > div > img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.7);
}

#intro {
  width: 100%;
  text-align: center;
  display: table-row;
}

#intro h2 span {
  color: #E22;
}

#portfolio-items > .item {
  position: relative;
  float: left;
  width: 400px;
  height: 200px;
  background-color: #DDD;
  border-radius: 8px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
  font-family: sans-serif;
  margin: 10px;
}

@media (max-width: 420px) {
  #portfolio-items .item {
    margin: 10px 0;
  }
}

.image img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.item:hover > .info {
  opacity: 1;
}

.info {
  opacity: 0;
}

.item .info {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  transition: opacity 750ms;
  font-weight: 300;
}

.info button {
  position: absolute;
  width: 320px;
  right: 40px;
  bottom: 10px;
  background-color: transparent;
  font-weight: bold;
  transition: box-shadow 1s, color 1s, background-color 2s, transform 1s;
  border: 1px solid #282C34;
}

.info .title {
  text-align: center;
  font-size: 1.5em;
  padding: 5px 0;
  font-weight: bold;
  color: #E22;
}

.info .description {
  padding: 5px 20px;
  max-height: 115px;
  overflow: hidden;
  letter-spacing: .3px;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  right: 0;
  border-top: 1px solid grey;
  background-color: inherit;
  color: white;
  text-align: center;
  min-width: 320px;
}

#footer span {
  position: relative;
  top: 15px;
  font-family: monospace;
  font-size: 1.5em;
}

#footer button {
  position: absolute;
  padding: 0;
  right: 20px;
  bottom: 10px;
  height: 30px;
  width: 100px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  background: transparent;
  color: white;
  border: 1px solid white;
}

#footer button:hover {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

@media (max-width: 500px) {
  #footer button {
    display: none;
  }

  #buttons {
    bottom: 50px;
    right: 5px;
    top: auto;
    left: auto;
    transform: rotate(180deg);
  }

  #buttons.active > .menu-item {
    transform: rotate(180deg);
  }

  #buttons > .menu-item:last-child {
    display: block;
  }
}

button {
  float: right;
  background-color: #CCC;
  border: none;
  padding: 6px 15px;
  border-radius: 2px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  transition: transform 1s, background-color 1s, box-shadow 1s;
}

button:hover {
  background-color: #EEE;
  transform: scale(1.2);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

button:focus {
  outline: none;
}

.description a:hover {
  font-weight: bold;
}

.description a {
  color: #E22;
  text-decoration: none;
}
